:root{
    --grey: #BEBCBB;
    --darkblue: #161C3B;
    --blue: #00439C;
}


/* Generics */
/************
HEADER
*************/
header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

#sony-logo{
    width: 100px;
}


/************
MAIN 
*************/
#jumbotron{
    padding-top: 120px;
}

.bg-returnal{
    background-image: url(../img/jumbo-bg.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.play-5{
    width: 95%;
}

.bg-it-take-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-dark-grey{
    background-color: #1F1F1F; 
}

.bg-grey{
    background-color: var(--grey);
}

.bg-dark-blue{
    background-color: var(--darkblue);
}


/************
FOOTER
*************/
footer{
    background-color: var(--blue);
}


/* Utils */
.my-row{
   min-height: 400px;
}

.sup-tm{
    font-size: 10px;
}

.my-btn{
    background-color: #D9DADC;
    color: #0D6EFD;
}

.cards-jumbotron{
    transition: transform 1s;
}

.cards-play-5{
    opacity: 0.5;
}

.cards-play-5 hr{
    visibility: hidden;
}


/************
EFFETTI HOVER
*************/

/* Button */
header .button:hover{
    box-shadow: 0 0 0 2px #6C757D;
    border-radius: 50rem;
}

.button-red:hover{
    box-shadow: 0 0 0 2px #DC3545;
    border-radius: 50rem;
}

.button-blue:hover{
    box-shadow: 0 0 0 2px #0D6EFD;
    border-radius: 50rem;
}

.my-btn:hover{
    background-color: #D9DADC;
    color: #0D6EFD;
    border-color: transparent;
}

.button-grey:hover{
    box-shadow: 0 0 0 2px #D9DADC;
    border-radius: 50rem;
}

.button-white:hover{
    box-shadow: 0 0 0 2px #fff;
    border-radius: 50rem;
}


/* Cards */
.cards-jumbotron:hover{
    cursor: pointer;
    transform: translateY(-10px);
}

.cards-play-5:hover{
    opacity: 1;
    cursor: pointer;
}

.cards-play-5:hover hr{
    visibility: visible;
}
