:root{
    --grey: #BEBCBB;
    --darkblue: #161C3B;
    --blue: #00439C;
}


/* Generics */
header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

#sony-logo{
    width: 100px;
}


/************
MAIN 
*************/
#jumbotron{
    padding-top: 120px;
}

.bg-returnal{
    background-image: url(../img/jumbo-bg.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.play-5{
    width: 95%;
}

.bg-it-take-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-dark-grey{
    background-color: #1F1F1F; 
}

.bg-grey{
    background-color: var(--grey);
}

/* Utils */
.my-row{
    height: 500px;
}

.sup-tm{
    font-size: 10px;
}


.my-btn{
    background-color: #D9DADC;
    color: #0D6EFD;
}