:root{
    --grey: #BEBCBB;
    --darkblue: #161C3B;
    --blue: #00439C;
}


/* Generics */
header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

#sony-logo{
    width: 100px;
}
/* Utils */
